<script src="https://cdn.tailwindcss.com"></script>

<h1 class="text-3xl font-bold underline bg-red-900">
このチートシートをブラウザで日本語化して、検索するように使えばOK！
  https://www.creative-tim.com/twcomponents/cheatsheet/
</h1>

<h1 class="text-3xl font-bold underline bg-red-900">
  Hello world!
</h1>

